name: Validate & Publish

on:
  push:
    tags: [ 'v[0-9]+.[0-9]+.[0-9]+' ]

jobs:
  validate:
    uses: anthochamp/dev-toolbox/.github/workflows/dart-validate.yml@f500e7cdca8a754d7f78b7706fba2278ffc42f1b
  publish:
    needs: validate
    permissions:
      id-token: write
    uses: anthochamp/dev-toolbox/.github/workflows/dart-lib-publish.yml@f500e7cdca8a754d7f78b7706fba2278ffc42f1b
